@inherits LayoutComponentBase
<div style="display: flex; flex-direction: column;" class="fullSize">
    <div style="background: #3C3C3C">
        <a class="clickable" style="display: inline-block; text-decoration:none; padding: 0.5rem" href="rpctrace">RPC Trace</a>
        <a class="clickable" style="display: inline-block; text-decoration:none; padding: 0.5rem" href="syntaxtree">Syntax Tree</a>
        <a class="clickable" style="display: inline-block; text-decoration:none; padding: 0.5rem" href="testing">Testing</a>
    </div>
    <div style="flex: 1;" class="fullSize">
        @Body
    </div>
</div>



